* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: var(--color-red);
}

@media screen and (max-width: 915px) {
  :root {
    --grid-column: 3;
  }
}

@media screen and (max-width: 693px) {
  :root {
    --grid-column: 2;
  }
}

@media screen and (max-width: 651px) {
  :root {
    --grid-column: 1;
  }
  .movie {
    margin: auto;
  }
}
