:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #282c34;
  --color-red: rgb(161, 15, 15);

  --sizing-xs: 5px;
  --sizing-sm: 10px;
  --sizing-md: 20px;
  --sizing-lg: 25px;

  --grid-column: 4;
  --grid-max-width: 1200px;

  --header-height: 70px;
  --submit-button-width: 80px;
  --search-input-width: 40%;
  --search-input-min-width: 170px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
